.container .top-buttons {
    display: flex;
    padding-top: 40px;
}


@media (max-width: 576px) {
    .container {
        text-align: center;
    }
    .container .top-buttons {
        text-align: center;
        padding-top: 20px;
    }
   

    .top-buttons .top-btn-left,.top-buttons .top-btn-right {
        width: 50%;
        height: 60px;
    }
    
}

